h1, .h1 {
    text-transform: uppercase;
}

.banner-right a {
    text-transform: uppercase;
}

.opening_paragraph h4 {
    font-size: 34px;
    line-height: 40px;
}

//TODO: inputs need their own sectin

input[type="submit"] {
    border: 1px solid $iqon_green;
    padding: 8px;
    background-color: $iqon_green;
    color: $white;
    text-transform: uppercase;
    transition: .2s background-color, .2s border-color;
    
    &:hover {
        cursor: pointer;
        background-color: $iqon_dark_green;
        border-color: $iqon_dark_green;
    }
}

.text-black {
    color: $black;
}