//Global variables
$iqon_green: #5AAD33;
$iqon_dark_green: #35661e;
$iqon_beige: #EBEBEB; //grey
$white: #FFF;

//Header variable
$header_height: 160px;

//Footer variables
$footer_background_color: #383838;
$footer_heading_size: 26px;
$footer_heading_color: $iqon_green;
$footer_padding: 58px;
$footer_text_color: #FFFFFF;
$footer_text_size: 16px;
$footer_tiny-text_size: 11px;

//Portfolio variables
$portfolio-card-width: 352px;
$portfolio-card-height: 230px;

//Highlight variables
$highlights-height: 540px;