// Page banner
.banner {
    background-position: center;
    background-size: cover;
    height: 332px;
    padding: $header_height 0px;
	margin-bottom: 64px;
    color: #FFFFFF;
    .banner-grid {
		//position banner content below header
        transform: translateY(64px);
        .banner-left {
            .banner-heading {
                border-right: 2px solid #FFFFFF;
                padding-right: 32px;
                h1 {
                    font-size: 40px;
                    font-weight: bold;
                }
            }
        }

        .banner-right h5 {
            border-left: 2px solid #FFFFFF;
            font-size: 16px;
            padding-left: 32px;
            a {
                color: $white;
                &:hover {
                    color: $iqon_green;
                }
            }

            h5 {
                font-size: 24px;
            }
        }
        
    }
}

.banner.intro {
    height: 768px;
}