a.button{ //TODO: will need to change this to be less specific
    background-color: $iqon_green;
    border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	padding: 15px 30px;
    color: $white;
    
    
    &:hover, .button:focus {
        background-color: $iqon_dark_green;
    }
}
