.heading {
    text-align: center;
    margin-bottom: 64px;
    
    h2 {        
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        
        //line below
        &::after {
            content: "";
            display: block;
            height: 4px;
            width: 64px;
            margin: 16px auto auto auto;
            background-color: $iqon_green;
            transition: .4s width;
        }
        
        &.no-underline {
            &::after {
                display: none;
            }
        }
        
        &:hover {
            &::after {
                width: 128px;
            }
        }
    }    
}