//.highlights {
//    
//    .orbit-slide {
//        max-height: 540px;
//        min-height: 540px;
//        
//        .bg-image {
//            height: 540px;
//        }
//        
//        .grid-container {
//            height: 100%;
//            @include flex;
//            @include flex-align($y: middle);
//            
//            .hightlight-content{
//                @include breakpoint(medium) {
//                    @include xy-cell(50%);
//                }
//            }
//        }
//        
//        img {
//            height: 100%;
//        }
//    }
//    
//    .orbit-previous, .orbit-next {
//        background-color: $iqon_green;
//        height: 128px;
//        width: 48px;
//        transition: .4s background-color;
//        &:hover {
//            cursor: pointer;
//        }
//    }
////    .highlights-grid {
////        
////        .highlights-carousel {
////            background-position: center;
////            background-size: cover;
////            height: 540px;
////            
////            
////    
////        }
////    }
//}

//.orbit .orbit-slide {
//    max-height: 600px;
//    overflow: hidden;
//}