.history-event {
	width: 100%;
	@include flex;
	position: relative;
	
	h3 {
		font-size: 24px;
		font-weight: bold;
	}
	
	p {
		font-size: 16px;
	}

    img {
        margin-bottom: 16px;
    }
    
	//little circle at the start of the history: 12px diameter
	&:first-child::before {
		content: "";
		display: block;
		position: absolute;
		height: 12px;
		width: 12px;
		background-color: $white;
		border: 1px solid $iqon_green;
		margin: auto;
		left: calc(50% - 6px); //push to the middle of the page and pull it back half the width of the circle
		top: -12px;
		z-index: 1;
		border-radius: 1000px;
	}

	//little circle at the end of the history: 12px diameter
	&:last-child::before {
		content: "";
		display: block;
		position: absolute;
		height: 12px;
		width: 12px;
		background-color: $white;
		border: 1px solid $iqon_green;
		margin: auto;
		left: calc(50% - 6px); //push to the middle of the page and pull it back half the width of the circle
		bottom: -12px;
		z-index: 1;
		border-radius: 1000px;
	}

	//default orientation of time line is to the left
	.history-event-content {
		@include xy-cell(50%, null, 0, none);
		padding-right: 32px;
		position: relative;
		text-align: right;

		//green line running down the center of the page
		&::before {
			content: "";
			display: block;
			position: absolute;
			height: 100%;
			width: 4px;
			background-color: $iqon_green;
			right: -2px;
		}

		//circle marking the position of the current item: 24px diameter
		&::after {
			content: "";
			display: block;
			position: absolute;
			height: 20px;
			width: 20px;
			background-color: $white;
			border: 1px solid $iqon_green;
			right: -10px;
			top: 12px;
			border-radius: 1000px;
		}
	}

	//add align right to history-event to apply right aligned styles
	&.align-right .history-event-content {
		border-right: none;
		padding-right: 0px;
		padding-left: 32px;   
		text-align: left;

		//reposition line to the left hand side of the history item
		&::before {
			left: -2px;
		}

		//reposition circle to the left of the history item
		&::after {
			left: -10px;
		}
	}
}