.team-grid {
    .member {
        background-color: $iqon-beige;
        margin-bottom: 24px;
        transition: .4s transform, .4s box-shadow;

        .portrait {
            height: 318px;
            background-size: cover;
            padding: 0;

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .2);
                transition: .4s background-color;
            }
        }

        &:hover {
            transform: scale(1.07);
            box-shadow: 0 5px 10px 0px rgba(0, 0, 0, .4);

            .portrait::after {
                background-color: rgba(0, 0, 0, 0);
            }

            .details .description {
                &::-webkit-scrollbar-thumb {
                    background-color: $iqon_green;
                }

                &::-webkit-scrollbar-track {
                    background-color: #CCCCCC;
                }
            }
        }

        .details {
            padding: 16px;
            height: 390px;
            width: 100%;

            .name {
                font-size: 16px;
                font-weight: bold;
            }

            .position {
                color: $iqon-green;
            }

            .description {
                height: 171px;
                font-size: 16px;
                overflow-y: scroll;
                padding-right: 20px;

                &::-webkit-scrollbar {
                    height: 5px;
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    //                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                    background-color: $iqon_beige;
                }

                &::-webkit-scrollbar-track {
                    //                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                    border-radius: 10px;
                    background-color: $iqon_beige;
                }
            }
        }
    }
}
