//TODO: refactor 
.projects-card {
    background-position: center;
    background-size: cover;
    position: relative;
    height: $portfolio-card-height;
    display: flex;
    margin-bottom: 8px;
    background-color: $black;
    @include xy-cell(12, null, 1px, margin);

    @include breakpoint(medium) {
        @include xy-cell(4, null, 1px, margin);
        margin-bottom: 2px;
    }

    h3 {
        font-size: 27px;
        z-index: 1;
        position: relative;
        color: #FFFFFF;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        
        &::after {
            content: "";
            display: block;
            height: 4px;
            width: 0;
            bottom: -16px;
            position: absolute;
            background-color: $white;
            -webkit-transition: .4s width, .4s background-color;
            transition: .4s width, .4s background-color;
        }
    }

    &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        transition: 0.4s background-color;
    }

    &:hover {
        background-color: $iqon_green;
        h3 {
            &::after {
                width: 128px;
                color: $iqon_green;
            }
        }
        &::before {
            background-color: rgba(90, 173, 51, 0.3);
        }
    }
}

.portfolio-card {

    margin-bottom: 34px;

    &:hover {
        .portfolio-image a::after {
            background-color: rgba(90, 173, 51, 0.3);
        }
    }

    .portfolio-image {
        display: block;
        background-position: center;
        background-size: cover;
        background-color: #ECF3F7;
        height: 230px;
        width: 100%;
        margin-bottom: 18px;

        a {
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, .2);
                transition: .4s background-color;
            }
        }
    }
}

.portfolio-card .portfolio-cat {
    font-size: 11px;
    line-height: 18px;
    font-weight: 400;
    margin: 0 18px;
}

.portfolio-card .portfolio-title {
    font-size: 22px;
    margin: 0 18px;
    text-transform: uppercase;
}

.portfolio-card .portfolio-link {
    color: #000000;
    transition: .4s color;
}

.portfolio-card .portfolio-link:hover {
    color: $iqon_green;
    text-decoration: none;
}

.button-cross {
    transform: translateY(9px);
}

.button-cross .button-line {
    height: 1px;
    width: 18px;
    background-color: #000000;
    transition: .4s transform, .4s margin, .4s width, .2s opacity, .4s background-color;
}

.button-cross .button-line:first-child {
    transform: rotateZ(90deg);
}

.button-cross .button-line:nth-child(3) {
    opacity: 0;
    width: 0;
}

a:hover .button-cross .button-line {
    background-color: $iqon_green;
}

a:hover .button-cross .button-line:first-child {
    width: 9px;
    margin-left: 12px;
    transform: rotateZ(45deg);
}

a:hover .button-cross .button-line:nth-child(2) {
    width: 9px;
    margin-left: 12px;
    margin-top: 5px;
    transform: rotateZ(-45deg);
}

a:hover .button-cross .button-line:nth-child(3) {
    width: 18px;
    opacity: 1;
    margin-top: -4px;
}



.projects {
    #portfolio {
        padding: 0px 0px 64px 0px;

        .heading {
            text-align: center;
        }
    }
}
