.text-image {
    .text-image-row {        
        h2 {
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 16px;
        }
    }
    
    .content {
        padding: 128px 32px;
    }    
}