<main class="about-page">
    <section class="banner" style="background-image: url('{{root}}/assets/img/head_about.png')"> 
        <div class="grid-container full">
            <div class="grid-container"> 
                <div class="banner-grid grid-x align-middle">
                    <div class="banner-left grid-x grid-margin-x align-middle small-12 medium-8">
                        <div class="banner-heading cell shrink"><h1>ABOUT</h1></div> 
                        <div class="banner-slogan cell medium-6 auto"><h4>We always deliver with impeccable service</h4></div>
                    </div> 
                    <div class="banner-right grid-x grid-margin-x align-middle align-right text-right small-12 medium-4">
                        <div class="cell auto"></div>
                        <div class="cell shrink"> 
                            <h5><a href="#">HOME</a> / <a href="#">ABOUT</a></h5>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </section>
    
    <section class="about-info">
        <div class="grid-container">
            <div class="heading grid-x text-center align-justify">
                <div class="cell medium-12">
                    <h2>ABOUT IQON</h2> 
                </div>
            </div> 
            <div class="grid-x grid-margin-x">
                <div class="image-about cell medium-4" style="background-image: url({{root}}assets/img/img-about.png)">
                    <img src='{{root}}/assets/img/img-about.png' />
                </div>
                <div class="text-about cell grid-x grid-padding-x medium-8">
                    <div class="cell medium-12">
                        <h4>
                        Established in 1986, IQon is a privately-run company that specialises in project and development management, construction management, lump sum contracting, and design and construct services in the ACT and surrounding NSW regions.
                        </h4>
                        <br />
                        <p>
                        IQon’s strong and proven capability to undertake and deliver technically complex projects, building engineering
                        services works, and project requiring unusual construction or engineering techniques, sets us apart form our
                        competitors.
                        </p>
                        <p>
                        At IQon , our people are integral in the culture that we aspire to impart, through collaborative and professional
                        dealings at all levels. Our culture is to empower excellence through strong leadership in delivering reliable outcomes
                        through our team of experts.
                        </p>
                        <a href="#"><button class="button">REQUEST A CONSULTATION</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="text-image about-grid bg-beige half_width-bg-image"> 
        <div class="grid-container">
            <div class="text-image-row grid-x grid-padding-x">
                <div class="text cell grid-x medium-6 align-middle">
                    <div class="content">
                        <h2>OUR APPROACH</h2>

                        <h4>
							At IQon, our top down culture of Leadership, Reliability
							and Expertise ensures that our team know what is
							required.
						</h4>

                        <p>
							We lead our teams through pro-active consultation along the path and correct
							performances by all participants as required to achieve the Safe, Quality
							Production standards set for our projects.
                        </p>
                    </div>
                </div>

                <div class="image cell medium-6 bg-image">
                    <figure class = "image-box" style="background-image: url('{{root}}assets/img/image-approach.png')">
<!--                        <img src = "{{root}}assets/img/image-approach.png" alt = "Our Approach" />-->
                    </figure>
                </div>
            </div> 
        </div>
    </section>
            
    <section class="text-image about-grid bg-beige half_width-bg-image"> 
        <div class="grid-container">
            <div class="text-image-row grid-x grid-padding-x">
                <div class="image cell medium-6 bg-image">
                    <figure class = "image-box" style="background-image: url('{{root}}assets/img/image-approach.png')">
<!--                        <img src = "{{root}}assets/img/image-approach.png" alt = "Our Approach" />-->
                    </figure>
                </div>  
                <div class="text cell grid-x medium-6 align-middle">
                    <div class="content">
                        <h2>OUR TEAM</h2>
						
                        <h4>
							Our team has worked with many of the region’s top
							government and institutional organisations over the
							last 28 years.
						</h4>

                        <p>
							Combined we have over 100 years’ experience that will ensure our clients, staff
							and stakeholder achieve agreed outcomes
                        </p>
                        <a href="#"><button class="button">MEET THE TEAM</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="highlights">
        <div class="grid-container full">
            <div class="highlights-grid grid-x">
                <div class="highlights-carousel cell" style="background-image: url({{root}}assets/img/highlight1.png)"></div>
            </div>
        </div>
    </section>
    
    <section class="clientele">
        <div class="grid-container">
            <div class="clientele-grid grid-x grid-margin-x align-middle align-justify">
                <div class="client">
                    <img src="{{root}}assets/img/national_film_sound_archive.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov.png" /> 
                </div> 
                <div class="client">
                    <img src="{{root}}assets/img/calvary.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/high_court.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/anu.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/ispt.png" />
                </div>
            </div>
        </div>
    </section>
</main>