<main class="careers-page">
    <section class="banner" style="background-image: url('{{root}}/assets/img/head_about.png')"> 
        <div class="grid-container full">
            <div class="grid-container">
                <div class="banner-grid grid-x align-middle">
                    <div class="banner-left grid-x grid-margin-x align-middle small-12 medium-8">
                        <div class="banner-heading cell shrink"><h1>CAREERS</h1></div>
                        <div class="banner-slogan cell medium-6 auto"><h4>We always deliver with impeccable service</h4></div>
                    </div> 
                    <div class="banner-right grid-x grid-margin-x align-middle align-right text-right small-12 medium-4">
                        <div class="cell auto"></div>
                        <div class="cell shrink">
                            <h5><a href="#">HOME</a> / <a href="#">CAREERS</a></h5>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </section>
    
    <section class="join">
        <div class="grid-container">
            <div class="heading grid-x text-center align-justify">
                <div class="cell medium-12 ">
                    <h2>JOIN US</h2>
                </div>
            </div> 
            <div class="grid-x grid-padding-x text-center align-center-middle">                
                <div class="info cell medium-12 ">
                    <h4>
                        IQon values its employees by providing then with many opportunities to learn, grow and further their careers whilst becoming the best that they can be.
                    </h4>
                    <p>
                        We provide an equal opportunity workplace, which offers flexible working arrangements, competitive remuneration, extensive training and challenging opportunities.
                    </p>
                    <p>
                        We provide our employees with a welcoming workplace where opinions and ideas are welcomed as part of our team culture.  We also ensure that the workplace is safe, secure and enjoyable for all employees.
                    </p>
                    <button class="button">VIEW CURRENT JOBS</button>
                </div>
            </div>
        </div>
    </section>
    
    <section class="text-image about-grid"> 
        <div class="grid-container full">
            <div class="text-image-row grid-x grid-padding-x">
                <div class="text cell grid-x medium-6 align-middle bg-beige">
                    <div class="content">
                        <h2>OUR APPROACH</h2>

                        <h4>
							At IQon, our top down culture of Leadership, Reliability
							and Expertise ensures that our team know what is
							required.
						</h4>

                        <p>
							We lead our teams through pro-active consultation along the path and correct
							performances by all participants as required to achieve the Safe, Quality
							Production standards set for our projects.
                        </p>
                    </div>
                </div>

                <div class="image cell medium-6 bg-image" style="background-image: url('{{root}}assets/img/image-approach.png')"></div>
            </div> 
        </div>
    </section>
    
    <section class="jobs">
        <div class="grid-container">
            <div class="heading grid-x text-center align-justify">
                <div class="cell medium-12 ">
                    <h2>CURRENT JOBS</h2>
                </div>
            </div> 
            <div class="grid-x align-center-middle">
                <div class="sendjob cell text-center">If you have a job listing that you would like advertised on the Job Board, please email <a href="#">anmjadmin@anmf.org.au</a></div>
                <div class="placeholder cell text-center">**INSERT JOB SEARCH**</div>
            </div>
        </div>
    </section>
    
    <section class="highlights">
        <div class="grid-container full">
            <div class="highlights-grid grid-x">
                <div class="highlights-carousel cell" style="background-image: url({{root}}assets/img/highlight1.png)"></div>
            </div>
        </div>
    </section>
    
    <section class="clientele">
        <div class="grid-container">
            <div class="clientele-grid grid-x grid-margin-x align-middle align-justify">
                <div class="client">
                    <img src="{{root}}assets/img/national_film_sound_archive.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov.png" /> 
                </div> 
                <div class="client">
                    <img src="{{root}}assets/img/calvary.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/high_court.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/anu.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/ispt.png" />
                </div>
            </div>
        </div>
    </section>
</main>