<main class="contacts-page">
    <section class="banner" style="background-image: url('{{root}}/assets/img/head_about.png')"> 
        <div class="grid-container full">
            <div class="grid-container">
                <div class="banner-grid grid-x align-middle">
                    <div class="banner-left grid-x grid-margin-x align-middle small-12 medium-8">
                        <div class="banner-heading cell shrink"><h1>CONTACT US</h1></div>
                        <div class="banner-slogan cell medium-6 auto"><h4>We always deliver with impeccable service</h4></div>
                    </div> 
                    <div class="banner-right grid-x grid-margin-x align-middle align-right text-right small-12 medium-4">
                        <div class="cell auto"></div>
                        <div class="cell shrink">
                            <h5><a href="#">HOME</a> / <a href="#">CONTACT</a></h5>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </section>
    
    <section class="details-form">
        <div class="grid-container">
            <div class="details-grid grid-x grid-padding-x">
                <div class="detail cell grid-x small-12 medium-6 align-middle bg-beige">
                    <div class="content">
                        <h2>CANBERRA OFFICE</h2>
						<br />
                        <h4>
                            CALL: 02 6282 5977<br />
                            VISIT: 41 Colbee Ct, Phillip ACT 2606
                        </h4>
                    </div>
                </div>				
				<div class="form cell small-12 medium-6 text-center">
					<div class="content">
						<span class="placeholder">**INSERT CONTACT FORM**</span>
					</div>
				</div>
            </div>
        </div>
    </section>
    
    <section class="map">
        <div class="grid-container full">
            <div class="map-grid grid-x">
                <div class="map-interactive cell" style="background-image: url({{root}}assets/img/map.png)"></div>
            </div>
        </div>
    </section>
    
    <section class="highlights">
        <div class="grid-container full">
            <div class="highlights-grid grid-x">
                <div class="highlights-carousel cell" style="background-image: url({{root}}assets/img/highlight1.png)"></div>
            </div>
        </div>
    </section>
    
    <section class="clientele">
        <div class="grid-container">
            <div class="clientele-grid grid-x grid-margin-x align-middle align-justify">
                <div class="client">
                    <img src="{{root}}assets/img/national_film_sound_archive.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov.png" /> 
                </div> 
                <div class="client">
                    <img src="{{root}}assets/img/calvary.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/high_court.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/anu.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/ispt.png" />
                </div>
            </div>
        </div>
    </section>
</main>