<main class="history-page">
    <section class="banner" style="background-image: url('{{root}}/assets/img/head_about.png')">
        <div class="grid-container full">
            <div class="grid-container">
                <div class="banner-grid grid-x align-middle">
                    <div class="banner-left grid-x grid-margin-x align-middle small-12 medium-8">
                        <div class="banner-heading cell shrink">
                            <h1>ABOUT</h1>
                        </div>
                        <div class="banner-slogan cell medium-6 auto">
                            <h4>We always deliver with impeccable service</h4>
                        </div>
                    </div>
                    <div class="banner-right grid-x grid-margin-x align-middle align-right text-right small-12 medium-4">
                        <div class="cell auto"></div>
                        <div class="cell shrink">
                            <h5><a href="#">HOME</a> / <a href="#">ABOUT</a> / <a href="#">HISTORY</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="history-grid" style="background-image: url({{root}}assets/img/bg-history.png)">
        <div class="grid-container">
            <div class="heading grid-x text-center align-justify">
                <div class="cell medium-12 ">
                    <h2>OUR HISTORY</h2>
                </div>
            </div>
        </div>
        
        <div class="grid-container">
            <div class="history grid-x grid-margin-x medium-margin-collapse">
                <div class="history-event align-right">
                    <div class="history-event-content">
                        <h3>1986</h3>
                        <p>Integrated Construction Management Services P/L (ICMS) Commenced operations</p>
                    </div>
                </div>
                <div class="history-event align-right">
                    <div class="history-event-content">
                        <h3>1986</h3>
                        <p>September ICMS Secures first project with Canberra Girls Grammar School</p>
                        <img src="{{root}}assets/img/event1.png" />
                    </div>
                </div>
                <div class="history-event">
                    <div class="history-event-content">
                        <h3>1989</h3>
                        <p>Secures first major project – Tuggeranong Bus Depot $10m</p>
                    </div>
                </div>
                <div class="history-event">
                    <div class="history-event-content">
                        <h3>1989</h3>
                        <p>Secures first major project – Tuggeranong Bus Depot $10m</p>
                    </div>
                </div>
                <div class="history-event align-right">
                    <div class="history-event-content">
                        <h3>1989</h3>
                        <p>Secures first major project – Tuggeranong Bus Depot $10m</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="clientele">
        <div class="grid-container">
            <div class="clientele-grid grid-x grid-margin-x align-middle align-justify">
                <div class="client">
                    <img src="{{root}}assets/img/national_film_sound_archive.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/calvary.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/high_court.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/anu.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/ispt.png" />
                </div>
            </div>
        </div>
    </section>
</main>
