<main class="main-page">
    <section class="banner intro" style="background-image: url('{{root}}/assets/img/head-main_page.png')"> 
        <div class="grid-container full">
            <div class="grid-container">
                <div class="grid-x">
					<div class="cell">
						<span class="placeholder">**INSERT CAROUSEL**</span>
					</div>
                </div>
            </div>
        </div> 
    </section>
    
    <section class="projects">
        <div class="grid-container">
            <div class="projects-grid grid-x align-justify">
                <a href="#" class="projects-card align-center-middle" style="background-image: url({{root}}assets/img/card_health.png)">
                    <h3>Health</h3>
                </a>
                <a href="#" class="projects-card align-center-middle" style="background-image: url({{root}}assets/img/card_health.png)"> 
                    <h3>Education</h3>
                </a>
                <a href="#" class="projects-card align-center-middle" style="background-image: url({{root}}assets/img/card_health.png)">
                    <h3>Residential</h3>
                </a>
                <a href="#" class="projects-card align-center-middle" style="background-image: url({{root}}assets/img/card_health.png)">
                    <h3>Cultural & Community</h3>
                </a>
                <a href="#" class="projects-card align-center-middle" style="background-image: url({{root}}assets/img/card_health.png)">
                    <h3>Commercial</h3>
                </a>
                <a href="#" class="projects-card align-center-middle" style="background-color: #000000">
                    <h3>View Projects ></h3> 
                </a> 
            </div>
        </div>
    </section>
    
    <section class="news">
        <div class="grid-container"> 
          <div class="news-grid grid-x grid-margin-x align-justify" >
              <div class="cell medium-4"> 
				  <div class="heading">
					  <h2 class = "text-left no-underline">What's New?</h2>
				  </div>
              </div>
              
              <div class="cell grid-x medium-4">
				  <div class="news-card">
					  <div class="news-date cell medium-12">
						  25 June, 2019
					  </div>
                  
					  <h4 class="news-title cell medium-12">
						  Welcome New Employees
					  </h4>

					  <div class="news-content cell medium-12">
						  The IQon Family would like to welcome Ishanka Gunaserkera to our team. Ishanka joins us as a Contracts Administrator.
					  </div>
				  </div>
              </div>
              
              <div class="cell grid-x medium-4">
				  <div class="news-card">
					  <div class="news-date cell medium-12">
						  25 June, 2019
					  </div>

					  <h4 class="news-title cell medium-12">
						  Welcome New Employees
					  </h4>

					  <div class="news-content cell medium-12"> 
						  The IQon Family would like to welcome Ishanka Gunaserkera to our team. Ishanka joins us as a Contracts Administrator.
					  </div>
				  </div>
              </div>
          </div>
        </div>
    </section>
    
    <section class="highlights orbit" data-orbit data-use-m-u-i="false">
        <div class="highlights-wrapper orbit-wrapper"> 
            <div class="highlights-controls orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>            
            </div>
            <ul class="highlights-container orbit-container">
              <li class="orbit-slide">
<!--
                <figure class="orbit-figure">
                  <img class="orbit-image" src="../assets/img/bg-history.png">
                </figure>
-->
                <section class = "bg-image" style = "background-image: url(../assets/img/bg-history.png)">
                  <div class = "grid-container">
                    <div class = "grid-x">
                        <div class = "hightlight-content">
                            <h2>Post Title</h2>
                            <p>We lead our teams through pro-active consultation along the path and correct performances by all participants as required to achieve the Safe, Quality Production standards set for our projects.</p>
                        </div>
                    </div>
                  </div>
                </section>
              </li>
              <li class="orbit-slide">
                <figure class="orbit-figure">
                  <img class="orbit-image" src="{{root}}assets/img/highlight2.png">
                </figure>
              </li>
<!--
              <li class="orbit-slide">
                <figure class="orbit-figure">
                  <img class="orbit-image" src="{{root}}assets/img/highlight3.png">
                </figure>
              </li>
-->
            </ul>
        </div>
    </section>
    
    <section class="clientele">
        <div class="grid-container">
            <div class="clientele-grid grid-x grid-margin-x align-middle align-justify">
                <div class="client">
                    <img src="{{root}}assets/img/national_film_sound_archive.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov.png" /> 
                </div> 
                <div class="client">
                    <img src="{{root}}assets/img/calvary.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/high_court.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/anu.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/ispt.png" />
                </div>
            </div>
        </div>
    </section>
</main>