<main class="partners-page">
    <section class="banner" style="background-image: url('{{root}}/assets/img/head_about.png')"> 
        <div class="grid-container full">
            <div class="grid-container">
                <div class="banner-grid grid-x align-middle">
                    <div class="banner-left grid-x grid-margin-x align-middle small-12 medium-8">
                        <div class="banner-heading cell shrink"><h1>OUR PARTNERS</h1></div>
                        <div class="banner-slogan cell medium-6 auto"><h4>We always deliver with impeccable service</h4></div>
                    </div> 
                    <div class="banner-right grid-x grid-margin-x align-middle align-right text-right small-12 medium-4">
                        <div class="cell auto"></div>
                        <div class="cell shrink">
                            <h5><a href="#">HOME</a> / <a href="#">OUR PARTNERS</a></h5>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </section>
    
    
    
    <section class="partner-grid">
        <div class="grid-container">
            <div class="heading grid-x text-center align-justify">
                <div class="cell medium-12 ">
                    <h2>OUR PARTNERS</h2>
                </div>
            </div> 
            <div class="icon-grid grid-x grid-margin-x align-justify">
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="partner-icon cell small-6 medium-3 large-2">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
            </div>
        </div>
    </section>
    
    <section class="highlights">
        <div class="grid-container full">
            <div class="highlights-grid grid-x">
                <div class="highlights-carousel cell" style="background-image: url({{root}}assets/img/highlight1.png)"></div>
            </div>
        </div>
    </section>
</main>