<main class="projects-page">
    <section class="banner" style="background-image: url('{{root}}/assets/img/head_about.png')"> 
        <div class="grid-container full">
            <div class="grid-container">
                <div class="banner-grid grid-x align-middle">
                    <div class="banner-left grid-x grid-margin-x align-middle small-12 medium-8">
                        <div class="banner-heading cell shrink"><h1>PROJECTS</h1></div>
                        <div class="banner-slogan cell medium-6 auto"><h4>We always deliver with impeccable service</h4></div>
                    </div> 
                    <div class="banner-right grid-x grid-margin-x align-middle align-right text-right small-12 medium-4">
                        <div class="cell auto"></div>
                        <div class="cell shrink">
                            <h5><a href="#">HOME</a> / <a href="#">PROJECTS</a></h5>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </section>
    
    <section id = "portfolio" class = "bg-white-split" data-magellan-target="portfolio">
        <div class = "grid-container">
            <div class="heading grid-x text-center align-justify">
                <div class="cell medium-12 ">
                    <h2>OUR PROJECTS</h2> 
                </div>
            </div> 
            <div class = "grid-x grid-margin-x">
                <!-- portfolio cards -->
                <div class = "cell">
                    <div class = "portfolio-cards grid-x grid-margin-x">

                        <div class = "cell large-4">
                            <div class = "portfolio-card">
                                <div class = "portfolio-image" style="background-image: url({{root}}assets/img/card_health.png)"></div>
                                <div class = "portfolio-cat">Category</div>
                                <div class = "portfolio-title">
                                    <a href = "#" class = "portfolio-link grid-x align-justify">
                                        <div class = "link-text">
                                            HEALTH
                                        </div>
                                        <div class = "button-cross">
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class = "cell large-4">
                            <div class = "portfolio-card">
                                <div class = "portfolio-image" style="background-image: url({{root}}assets/img/card_health.png)"></div>
                                <div class = "portfolio-cat">Category</div>
                                <div class = "portfolio-title">
                                    <a href = "#" class = "portfolio-link grid-x align-justify">
                                        <div class = "link-text">
                                            EDUCATION
                                        </div>
                                        <div class = "button-cross">
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class = "cell large-4">
                            <div class = "portfolio-card">
                                <div class = "portfolio-image" style="background-image: url({{root}}assets/img/card_health.png)"></div>
                                <div class = "portfolio-cat">Category</div>
                                <div class = "portfolio-title">
                                    <a href = "#" class = "portfolio-link grid-x align-justify">
                                        <div class = "link-text">
                                            COMMUNITY
                                        </div>
                                        <div class = "button-cross">
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class = "cell large-4">
                            <div class = "portfolio-card">
                                <div class = "portfolio-image" style="background-image: url({{root}}assets/img/card_health.png)"></div>
                                <div class = "portfolio-cat">Category</div>
                                <div class = "portfolio-title">
                                    <a href = "#" class = "portfolio-link grid-x align-justify">
                                        <div class = "link-text">
                                            CULTURAL & COMMUNITY
                                        </div>
                                        <div class = "button-cross">
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class = "cell large-4">
                            <div class = "portfolio-card">
                                <div class = "portfolio-image" style="background-image: url({{root}}assets/img/card_health.png)"></div>
                                <div class = "portfolio-cat">Category</div>
                                <div class = "portfolio-title">
                                    <a href = "#" class = "portfolio-link grid-x align-justify">
                                        <div class = "link-text">
                                            COMMERCIAL
                                        </div>
                                        <div class = "button-cross">
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                            <div class = "button-line"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <section class="highlights">
        <div class="grid-container full">
            <div class="highlights-grid grid-x">
                <div class="highlights-carousel cell" style="background-image: url({{root}}assets/img/highlight1.png)"></div>
            </div>
        </div>
    </section>
    
    <section class="clientele">
        <div class="grid-container">
            <div class="clientele-grid grid-x grid-margin-x align-middle align-justify">
                <div class="client">
                    <img src="{{root}}assets/img/national_film_sound_archive.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov.png" /> 
                </div> 
                <div class="client">
                    <img src="{{root}}assets/img/calvary.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/high_court.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/anu.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/ispt.png" />
                </div>
            </div>
        </div>
    </section>
</main>