<main class="team-page">
    <section class="banner" style="background-image: url('{{root}}/assets/img/head_about.png')"> 
        <div class="grid-container full">
            <div class="grid-container">
                <div class="banner-grid grid-x align-middle">
                    <div class="banner-left grid-x grid-margin-x align-middle small-12 medium-8">
                        <div class="banner-heading cell shrink"><h1>ABOUT</h1></div>
                        <div class="banner-slogan cell medium-6 auto"><h4>We always deliver with impeccable service</h4></div>
                    </div> 
                    <div class="banner-right grid-x grid-margin-x align-middle align-right text-right small-12 medium-4">
                        <div class="cell auto"></div>
                        <div class="cell shrink">
                            <h5><a href="#">HOME</a> / <a href="#">ABOUT</a></h5>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </section>
        
    <section class="team-grid">
        <div class="grid-container">
            <div class="heading grid-x text-center align-justify">
                <div class="cell medium-12 ">
                    <h2>MEET OUR TEAM</h2>
                </div>
            </div> 
            <div class="member-grid grid-x grid-margin-x">
                <div class="member cell medium-6 large-4 grid-padding-x">
                    <div class="portrait cell full" style="background-image: url({{root}}assets/img/portrait-fabio.png)"></div>
                    <div class="details cell grid-x">
                        <div class="name cell full grid-x align-bottom"><span>FABIO CAJINA</span></div>
                        <div class="position cell full"><span>Director</span></div>
                        <div class="description cell full">
                            <p>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team.
                                <br/>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team. 
                            </p> 
                        </div>                 
                        <div class="links cell grid-x align-bottom">
                            <div class="socials cell small-6 align-left">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="email cell small-6 text-right">
                                <a href="#"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="member cell medium-6 large-4 grid-padding-x">
                    <div class="portrait cell full" style="background-image: url({{root}}assets/img/portrait-fabio.png)"></div>
                    <div class="details cell grid-x">
                        <div class="name cell full grid-x align-bottom"><span>FABIO CAJINA</span></div>
                        <div class="position cell full"><span>Director</span></div>
                        <div class="description cell full">
                            <p>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team.
                                <br/>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team. 
                            </p>
                        </div>                            
                        <div class="links cell grid-x align-bottom">
                            <div class="socials cell small-6 align-left">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="email cell small-6 text-right">
                                <a href="#"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="member cell medium-6 large-4 grid-padding-x">
                    <div class="portrait cell full" style="background-image: url({{root}}assets/img/portrait-fabio.png)"></div>
                    <div class="details cell grid-x">
                        <div class="name cell full grid-x align-bottom"><span>FABIO CAJINA</span></div>
                        <div class="position cell full"><span>Director</span></div>
                        <div class="description cell full">
                            <p>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team.
                                <br/>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team. 
                            </p>
                        </div>                            
                        <div class="links cell grid-x align-bottom">
                            <div class="socials cell small-6 align-left">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="email cell small-6 text-right">
                                <a href="#"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="member cell medium-6 large-4 grid-padding-x">
                    <div class="portrait cell full" style="background-image: url({{root}}assets/img/portrait-fabio.png)"></div>
                    <div class="details cell grid-x">
                        <div class="name cell full grid-x align-bottom"><span>FABIO CAJINA</span></div>
                        <div class="position cell full"><span>Director</span></div>
                        <div class="description cell full">
                            <p>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team.
                                <br/>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team. 
                            </p>
                        </div>                            
                        <div class="links cell grid-x align-bottom">
                            <div class="socials cell small-6 align-left">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="email cell small-6 text-right">
                                <a href="#"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="member cell medium-6 large-4 grid-padding-x">
                    <div class="portrait cell full" style="background-image: url({{root}}assets/img/portrait-fabio.png)"></div>
                    <div class="details cell grid-x">
                        <div class="name cell full grid-x align-bottom"><span>FABIO CAJINA</span></div>
                        <div class="position cell full"><span>Director</span></div>
                        <div class="description cell full">
                            <p>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team.
                                <br/>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team. 
                            </p>
                        </div>                            
                        <div class="links cell grid-x align-bottom">
                            <div class="socials cell small-6 align-left">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="email cell small-6 text-right">
                                <a href="#"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="member cell medium-6 large-4 grid-padding-x">
                    <div class="portrait cell full" style="background-image: url({{root}}assets/img/portrait-fabio.png)"></div>
                    <div class="details cell grid-x">
                        <div class="name cell full grid-x align-bottom"><span>FABIO CAJINA</span></div>
                        <div class="position cell full"><span>Director</span></div>
                        <div class="description cell full">
                            <p>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team.
                                <br/>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team. 
                            </p>
                        </div>                            
                        <div class="links cell grid-x align-bottom">
                            <div class="socials cell small-6 align-left">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="email cell small-6 text-right">
                                <a href="#"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="member cell medium-6 large-4 grid-padding-x">
                    <div class="portrait cell full" style="background-image: url({{root}}assets/img/portrait-fabio.png)"></div>
                    <div class="details cell grid-x">
                        <div class="name cell full grid-x align-bottom"><span>FABIO CAJINA</span></div>
                        <div class="position cell full"><span>Director</span></div>
                        <div class="description cell full">
                            <p>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team.
                                <br/>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team. 
                            </p>
                        </div>                            
                        <div class="links cell grid-x align-bottom">
                            <div class="socials cell small-6 align-left">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="email cell small-6 text-right">
                                <a href="#"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="member cell medium-6 large-4 grid-padding-x">
                    <div class="portrait cell full" style="background-image: url({{root}}assets/img/portrait-fabio.png)"></div>
                    <div class="details cell grid-x">
                        <div class="name cell full grid-x align-bottom"><span>FABIO CAJINA</span></div>
                        <div class="position cell full"><span>Director</span></div>
                        <div class="description cell full">
                            <p>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team.
                                <br/>
                                Fabio brings over 20 years’ experience
                                in the property and construction sector
                                specialising in cost and bid
                                management. After many years at with
                                St Hillier’s as Estimating Manager, 2
                                years as Director at DCWC and 5 years
                                at WT Partnership as a Quantity
                                Surveyor working on major projects,
                                Fabio joined the IQon team. 
                            </p>
                        </div>                            
                        <div class="links cell grid-x align-bottom">
                            <div class="socials cell small-6 align-left">
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </div>
                            <div class="email cell small-6 text-right">
                                <a href="#"><i class="fas fa-envelope"></i></a>
                            </div>
                        </div>                        
                    </div>
                </div>
                    <a href="#" class="member join cell grid-x align-center-middle medium-6 large-4 grid-padding-x grid-x" style="background-image: url({{root}}assets/img/portrait-join.png)">
                        <span class="cell auto text-center full">JOIN US</span> 
                    </a>
            </div>
        </div>
    </section>
    
    <section class="highlights">
        <div class="grid-container full">
            <div class="highlights-grid grid-x">
                <div class="highlights-carousel cell" style="background-image: url({{root}}assets/img/highlight1.png)"></div>
            </div>
        </div>
    </section>
    
    <section class="clientele">
        <div class="grid-container">
            <div class="clientele-grid grid-x grid-margin-x align-middle align-justify">
                <div class="client">
                    <img src="{{root}}assets/img/national_film_sound_archive.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov.png" /> 
                </div> 
                <div class="client">
                    <img src="{{root}}assets/img/calvary.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/act_gov_health.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/high_court.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/anu.png" />
                </div>
                <div class="client">
                    <img src="{{root}}assets/img/ispt.png" />
                </div>
            </div>
        </div>
    </section>
</main>