.about-info {
	margin-bottom: 64px;
	
	h4 {
		font-size: 24px;
	}
	
	p {
		font-size: 16px;
	}
	
	.image-about {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}