.bg-beige {
    background-color: $iqon_beige;
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 !important;
    
    .image-box {
        width: 50vw;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &:first-child {
        .image-box {
            position: relative;
            margin-left: -50vw;
            left: 100%;
        }
    }
}

.half_width-bg-image {
    overflow-x: hidden;
}