.careers-page {
    .join {
        padding-bottom: 64px; 
		
        .heading {
            text-align: center;
        }
		
        .info {
            padding-left: 10%;            
            padding-right: 10%;
        }
    }
        
    .jobs {
		//add margin after 'text-image'
        margin-top: 64px;
		        
        .sendjob {
            font-size: 18px;
			
			a[href] {
				color: #617D8A;
			}		
        }
    }
}