.contacts-page {
	.details-grid {
		//remove margin-bottom imposed by .banner
		margin-top: -64px;
		height: 490px;	
		
		.detail {
			padding: 0px 96px;
			
			h2 {
				font-size: 24px;
				font-weight: bold;
			}
			
			h4 {
				font-size: 24px;
			}
		}
		
		.form {
			height: 100%;
			background-color: #FFFFFF;
		}
	}
	
	.map {
		.map-grid {
			.map-interactive {
				background-position: center;
				background-size: cover;
				height: 540px;
			}
		}
	}
}