// Footer styling
footer {
    .logo{
        padding-bottom: 64px;
    }
	color: $footer_text_color;
    padding: $footer_padding 0;
    background-color: $footer_background_color;
    
    
    .text-box {
        font-size: $footer_text_size;
		margin-bottom: 48px;
        
        h4 {    
            font-size: $footer_heading_size;
			font-weight: bold;
            color: $footer_heading_color;
			margin-bottom: 48px;
        }
		
		p {
			font-size: 16px;
			padding-right: 24px;
		}
    }
    
    .tiny-text {
        font-size: $footer_tiny-text_size;
    }
    
    ul.bottom-menu {
        margin: 48px 0px 48px 0px;
        li {
            font-size: 12px;
            display: inline-block;
            padding: 0px 24px 0px 0px;
            
            a {
                color: #FFFFFF;
            }
        }
    }
    
    .input-group-field {
        width: 100%;
        height: 40px;
        padding: 12px 20px;
        box-sizing: border-box;
        border-top: 2px;
        border-right: 0px;
        border-bottom: 2px;
        border-left: 2px;
        border-style: solid;
        border-color: #888;
        border-radius: 8px;
        background-color: $footer_background_color;
        resize: none;
        
    }
    
    .signup-form .submitButton {
        background-color: $footer_background_color;
        border-top: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-left: 0px;
        border-style: solid;
        border-color: #888;
        border-radius: 8px;
        
    }
}