// Styling for HEADER element

header {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    position: relative;
    height: $header_height;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 32px solid $black;
        
    .dropdown.menu > li.is-active > a {
        background: rgba(0, 0, 0, 0.5);
        color: $iqon_green;
    }
    
    .nav-menu {
        @include flex;
        @include flex-align($x: right);    
    }
    
    .top-menu {
        width: 100%;
        display: none;
        
        @include breakpoint(large) {
            @include flex;
            @include flex-align($x:spaced); 
        }
        
        li {
            font-size: 16px;
            display: inline;
            
            a {
                background-color: rgba(0, 0, 0, 0);
                transition: 0.4s background-color;
                color: $white;
                &:hover {                
                    background: rgba(0, 0, 0, 0.5);
                    color: $iqon_green;
                }
            }
                
            .is-dropdown-submenu{
                min-width: 160px;
            }
            
            .sub-menu {
                background-color: rgba(0, 0, 0, 0.5);
                border-style: none;
                @include flex-align(left);
                margin-left: 0;
            }
            
            .menu-search {
                border-left: 2px solid #FFFFFF;
            }
        }
    }
    
    .mobile-menu {
        display: block;
        
        li {
            .submenu a {
                color: $iqon_green;
                background-color: $white;
                dislay: inline-block;
                width: 100%;
                border-bottom: 2px solid $iqon_beige;
                transition: .25s color, .25s background-color;
                &:hover {
                    color: $white;
                    background-color: $iqon_green;
                    
                }
            }
        }
        @include breakpoint(large) {
            display: none;
        }
    }
}