// Header overlay
main {
    margin-top: calc( -160px + 32px); //header height + border of header
}

// General styling
body a {
    color: $iqon_green;
    transition: 0.4s color;
    
    &:hover {
        color: $iqon_dark_green;
    }
}

section {
    padding-top: 64px;
    padding-bottom: 64px;
    
    &.banner {
        padding: 128px 0px;
        margin-bottom: 0px;
    }
    &.half_width-bg-image,
    &.clientele,
    &.orbit {
        padding: 0;
    }
    &.under-footer {
        padding: 0;
    }
}

.remove-padding {
    padding: 0 !important;
}

//TODO: Need to refactor this
#project_intro, .two_column_text  {
    padding-bottom: 0;
    
    .heading {
        text-align: left;
        margin-bottom: 32px;
        
        h2 {
            font-size: 42px;
            text-transform: uppercase;
            &::after {
                margin: 16px 0 0;
            }
        }
    }
}

.two_column_text {
    padding-bottom: 64px;
}