.partner-grid {
    padding-bottom: 64px;

    .heading {
        text-align: center;
    }

    .icon-grid {
        .partner-icon {
            height: 168px;
            margin-bottom: 16px;
            border: 1px solid #707070;
            box-shadow: 0 0 0 0;
            transition: .2s transform, .2s box-shadow;
            &:hover {
                //border-color: $iqon_green;
                transform: scale(1.1);
                box-shadow: 0 5px 8px 0px rgba(0,0,0,.2);
            }
        }
        
        a.partner-icon {
            cursor: pointer;
        }

    }

}