.team-grid{
    margin-bottom: 64px;
    .member-grid {
        .join {
            background-position: center;
            background-size: cover;
            position: relative;

            &::before {
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.0);
                position: absolute;
                transition: 0.4s background-color;

            }

            &:hover::before {
                background-color: rgba(90, 173, 51, 0.4);

            }

            span {
                color: #FFFFFF;
                font-size: 32px;
                font-weight: bold;
                z-index: 1;
                position:relative;
            }                   
        }
    }
}