{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en"> 
	<head>
		<meta charset="utf-8" /> 
		<meta http-equiv="x-ua-compatible" content="ie=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>IQon</title>
		<link rel="stylesheet" href="{{root}}assets/css/app.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/css/all.css">
	</head>
<body>
	<header>
		<div class="grid-container">
            <div class="grid-x"> 
                <div class="cell grid-x small-6 medium-4"> 
                    <div class="logo">
                        <img src='{{root}}assets/img/logo.png'/>
                    </div> 
                </div>
                <div class="nav-menu cell grid-x small-6 medium-8 align-middle">
                    <ul class="top-menu dropdown menu grid-x grid-margin-x" data-dropdown-menu>
                        <li><a href="index.html">HOME</a></li>                        
                        <li>
                            <a class="top-sub-menu" href="about.html">ABOUT</a> 
                            <ul class="sub-menu menu align-left">
								<li><a href="history.html">HISTORY</a></li>
								<li><a href="team.html">TEAM</a></li>
							</ul>
                        </li>                        
                        <li><a href="projects.html">PROJECTS</a></li> 
                        <li><a href="partners.html">OUR PARTNERS</a></li>
                        <li><a href="careers.html">CAREERS</a></li>
                        <li><a href="contact.html">CONTACT</a></li> 
                        <li><a class="menu-search" href="#"><i class = "fas fa-search"></i></a></li> 
                    </ul> 
                    <ul class = "mobile-menu menu dropdown align-right" data-dropdown-menu>
                        <li>
							<a href = "#"><i class = "fas fa-bars"></i></a>
                            <ul class = "sub-menu menu">
                                <li><a href="index.html">HOME</a></li>
                                <li>
                                    <a href="about.html">ABOUT</a> 
<!--
                                    <ul class="vertical nested menu">
                                        <li><a href="history.html">HISTORY</a></li>
                                        <li><a href="team.html">TEAM</a></li>
                                    </ul>
-->
                                </li> 
                                <li><a href="projects.html">PROJECTS</a></li> 
                                <li><a href="partners.html">OUR PARTNERS</a></li>
                                <li><a href="careers.html">CAREERS</a></li>
                                <li><a href="contact.html">CONTACT</a></li> 
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> 
        </div>
    </header>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}
    
    <footer> 
        <div class = "grid-container">
            <div class = "grid-x grid-margin-x">
                <div class = "cell medium-3">
                    <div class = "logo">
                        <img src = "{{root}}assets/img/logo.png"/>
                    </div> 
                </div>                
                <div class = "cell medium-3">
                    <div class = "text-box">
                        <h4>About IQON</h4>                        
                        <p>Established in 1986, IQon is a privately-run company that specialises in project and development management, construction management, lump sum contracting, and design and construct services in the ACT and surrounding NSW regions.</p>
                    </div> 
                </div>
                
                <div class = "cell medium-3">
                    <div class = "text-box">
                        <h4>Find Us</h4>                        
                        <p>
                        Canberra Office<br/><br/> 
                        Call:  02 6282 5977<br/>
                        Visit: 41 Colbee Ct,<br/>
                        Phillip ACT 2606
                        </p>
                    </div>
                </div>
                
                <div class = "cell medium-3">
                    <div class = "signup-form">
                        <div class="input-group">
                            <input class="input-group-field" type="text" placeholder="Email" />
                            
                            <div class="input-group-button">
                                <button type="submit" class="button submitButton"><i class="fas fa-location-arrow"></i></button>
                            </div>
                        </div>
                        <div class = "tiny-text">
                            <span>Stay in touch with us for the freshest products!</span>
                        </div>
                    </div>
                    

                    <div class="nav-menu cell"> 
                        <ul class="bottom-menu">
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="about.html">ABOUT</a></li>
                            <li><a href="projects.html">PROJECTS</a></li>
                            <li><a href="partners.html">OUR PARTNERS</a></li>
                            <li><a href="careers.html">CAREERS</a></li>
                            <li><a href="contact.html">CONTACT</a></li> 
                        </ul>
                    </div> 
                </div>
            </div>
        </div>
    </footer>
    
    <section class = "under-footer">
        <div class = "grid-container">
            <div class = "grid-x">
                <div class = "cell">
                    <div class = "socialMedia-box">
                        <a href="#"><i class = "fab fa-instagram"></i></a>
                        <a href="#"><i class = "fab fa-twitter"></i></a>
                        <a href="#"><i class = "fab fa-facebook-f"></i></a>
                        <a href="#"><i class = "fa fa-globe-americas"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
